<html>
<head>
    <title>Login Form</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <h2>Login Page</h2><br>
    <div class="login">
    <form id="login" method="get" action="login.php">
        <label><b>Username
        </b>
        </label>
        <input type="text" name="Uname" id="Uname" placeholder="Enter your Username">
        <br><br>
        <label><b>Password
        </b>
        </label>
        <input type="Password" name="Pass" id="Pass" placeholder="Enter your Password">
        <br><br>
        <input type="button" name="log" id="log" value="Log In">
        <br><br>
        <input type="checkbox" id="check">
        <span>Remember me</span>
        <br><br>
        Create an account<a href="/registration">Register Here</a>
    </form>
</div>
</body>
</html>